<div id="auto-prompt-container">
    <label
            for="shouldTranslate"
            class="toggle"
    >
        <!-- toggle -->
        <div>
            <!-- input -->
            <input id="shouldTranslate" type="checkbox" class="sr-only" value="1" checked/>
            <!-- line -->
            <div class="line"></div>
            <!-- dot -->
            <div class="dot"></div>
        </div>
        <!-- label -->
        <div class="label">
            Translate
        </div>
    </label>
    <div class="lang-wrapper">
        <div class="checkbox mr-2">
            <input type="checkbox" id="vi_cb" name="lang[]" value="vietnamese" checked/>
            <label for="vi_cb" class="cursor-pointer">Vietnam</label>
        </div>
        <div class="checkbox mr-2">
            <input type="checkbox" id="en_cb" name="lang[]" value="english"/>
            <label for="en_cb" class="cursor-pointer">English</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="jp_cb" name="lang[]" value="japanese"/>
            <label for="jp_cb" class="cursor-pointer">Japanese</label>
        </div>
    </div>
</div>

